@media (max-width: 70em) {
  body {
    background-color: #0d1018;
    z-index: -9999;
  }
}

.container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content {
  margin: auto;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
}

.info {
  margin-bottom: calc(1em + 1vw);
}

.info h2 {
  line-height: normal;
}

.info h3 {
  line-height: normal;
  margin-bottom: 0.3em;
}

.image {
  display: flex;
  align-self: flex-end;
  overflow: visible;
  height: calc(30rem + 10vw);
  flex-basis: 45%;
}

.image img {
  display: block;
  align-self: flex-end;
}

@media (min-width: 70em) {
  .container {
    overflow-y: hidden;
  }

  .info {
    min-height:calc(20vh + 5vw) ;
  }

  .info p {
    max-width: 90%;
  }

  .image{
    justify-content: flex-end;
    transform: translateY(5%);
  }

  .image img {
    object-fit: cover;
    max-width: 100%;
  }
}

@media (max-width: 70em) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .group {
    justify-content: space-between;
  }

  .info p {
    max-width: 37rem;
    margin-inline: auto;
  }

  .image {
    min-width: 90%;
    align-self: center;
  }

  .image img {
    object-fit: contain;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
  }
}

@media (max-width: 40em) {
  .container {
    align-items: center;
    justify-content: flex-start;
  }

  .content {
    flex-direction: column-reverse;
  }

  .group {
    flex-direction: column-reverse;
  }

  .info h5 {
    margin-top: calc(5rem + 6vw);
  }

  .info p {
    max-width: 100%;
  }

  .image{
    overflow: hidden;
    min-width: 100%;
    border-bottom: 1px solid var(--clr-gray);
  }

  .image img {
    height: calc(14rem + 14vw);
    width: 100%;
  }
}

/* ----------------------- */
/*       IMAGE NAV        */
/* ----------------------- */

.dots {
  margin: 0;
}

.dot {
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.dot + * {
  margin-left: 0.5em;
}

.dot span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-top: 0.5em;
  background-color: var(--clr-gray);
  border-radius: 50%;
  transition: 0.1s linear background-color;
  pointer-events: none;
}

.dot:hover span {
  background-color: var(--clr-hover);
}

.dot-select span {
  background-color: var(--clr-light);
}

.dot-select:hover span {
  background-color: var(--clr-light);
}

@media (min-width: 70em) {
  .dots {
    /* margin-bottom: 5rem; */
  }
}

@media (max-width: 70em) {
  .dot {
    font-size: 0.8rem;
  }
}

@media (max-width: 40em) {
  .dots {
    margin: calc(1em + 2vw) 0;
  }
}
