h5 {
  color: var(--clr-secondary);
  margin-top: 0;
}

.container {
  align-items: center;
  justify-content: space-between;
}

.content {
  flex-basis: 100%;
}

@media (min-width: 70em) {
  .content {
    max-width: 50%;
  }
}

@media (max-width: 70em) {
  .container {
    justify-content: center;
  }
}

.background {
  height: 100%;
  object-fit: cover;
}

/* ----------------------- */
/*         EXPLORE         */
/* ----------------------- */

.explore {
  position: relative;
  width: calc(15rem + 4vw);
  height: calc(15rem + 4vw);
  border-radius: 50%;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--clr-primary);
  font-size: 2rem;
}

.explore::before {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: var(--clr-gray);
  box-shadow: 0px 0px 5px 5px var(--clr-gray);
  transition: 0.15s all ease-out;
  z-index: -1;
}


@media (min-width:70em) {
  .explore{
    margin-top: 10vh;
  }
}
@-webkit-keyframes explore-active {
  0% {
    width: 90%;
    height: 90%;
  }
  100% {
    width: 120%;
    height: 120%;
  }
}

@keyframes explore-active {
  0% {
    width: 90%;
    height: 90%;
  }
  100% {
    width: 120%;
    height: 120%;
  }
}

@media (min-width: 70em) {
  .explore:hover::before {
    width: 140%;
    height: 140%;
  }
}

@media (max-width: 70em) {
  .after::before {
    width: 120%;
    height: 120%;
  }
}

@media (max-width: 40em) {
  .explore {
    width: calc(6.375rem + 10vw);
    height: calc(6.375rem + 10vw);
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }
}
