.container {
  flex-direction: column;
}

.content {
  margin: auto;
  min-width: 100%;
  max-width: none;
  justify-content: space-between;
  gap: calc(1em + 6vw);
}

.group {
  display: flex;
  align-items: center;
  width: 100%;
  flex-basis: 100%;
  gap: calc(1.5em + 3vw);
}

.info span {
  text-transform: uppercase;
  color: var(--clr-secondary);
  font-family: var(--ff-subtitle);
  letter-spacing: 0.1rem;
  font-size: min(max(1rem, 3vw), 1.5rem);
}

.image {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.image img {
  display: block;
  object-fit: cover;
}

@media (min-width: 70em) {
  .content {
    flex-direction: row;
  }

  .image {
    overflow: hidden;
  }

  .group {
    justify-content: flex-start;
  }
}

@media (max-width: 70em) {
  .container{
    width: 100vw;
  }

  .content {
    align-items: center;
    margin-top: 0;
    flex-direction: column-reverse;
  }

  .group {
    width: 90%;
    flex-direction: column;
  }

  .info {
    max-width: 70%;
    margin-bottom: 5rem;
  }

  .info h3 {
    margin-bottom: 0.5rem;
  }

  .image {
    position: relative;
  }

  .image img {
    min-width: 100vw;
    max-width: 100%;
  }
}

@media (max-width: 40em) {
  .info {
    max-width: none;
  }

  .image {
    min-height: 24vh;
  }

  .image img {
    max-height: 100%;
  }
}

/* ----------------------- */
/*         BUTTONS         */
/* ----------------------- */

.btns {
  display: flex;
  gap: calc(0.5em + 1vw);
}

@media (min-width: 70em) {
  .btns {
    flex-direction: column;
  }
}

.btns * {
  width: min(max(1.8rem , 4vw), 6rem);
  height: min(max(1.8rem , 4vw), 6rem);
  border-radius: 50%;
  color: var(--clr-light);
  border: 1px solid var(--clr-hover);
  font-family: var(--ff-primary);
  font-size: min(max(1rem, 3vw), 2rem);
  transition: 0.15s border ease, 0.1s ease background-color;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.btns *:hover {
  border: 1px solid var(--clr-light);
}

.btns .btn-select {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
