@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@300;700&family=Bellefair&display=swap");

:root {
  --clr-dark: #0b0d17;
  --clr-light: #fff;
  --clr-primary: #d0d6f9;
  --clr-gray: #97979726;
  --clr-secondary: #d0d6f9;
  --clr-hover: #979797;
  --clr-selection: #2a66c5;

  --ff-primary: "Bellefair", serif;
  --ff-contents: "Barlow", sans-serif;
  --ff-subtitle: "Barlow Condensed", sans-serif;
}

::selection {
  color: var(--clr-selection);
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
}

html {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  font-family: var(--ff-contents);
  line-height: 1.6;
  color: var(--clr-light);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

#nav-checkbox {
  display: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}

/* ----------------------- */
/*           FONT          */
/* ----------------------- */

@media (min-width: 70em) {
  body {
    font-size: 1.125rem;
  }
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  color: var(--clr-light);
  opacity: 0.5;
}

h1 {
  font-size: min(max(4rem, 14vw), 9.375rem);
}

h2 {
  font-size: min(max(3.5rem, 12vw), 7.25rem);
}

h3 {
  font-size: min(max(1.5rem, 4vw), 5rem);
}

h4 {
  font-size: min(max(0.9rem, 2.5vw), 2.125rem);
}

h5 {
  margin-top: 4rem;
  font-size: min(max(1rem, 2vw), 1.75rem);
  margin-top: calc(4rem + 6vw);
  font-family: var(--ff-subtitle);
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-weight: 300;
}

h5 span {
  color: var(--clr-secondary);
  opacity: 0.4;
  font-weight: 700;
}

p {
  color: var(--clr-secondary);
}

/* ----------------------- */
/*       BACKGROUND        */
/* ----------------------- */

.background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  z-index: -999;
}

@media (max-width: 40em) {
  .background{
    height: auto;
    object-fit: contain;
  }
}

/* ----------------------- */
/*          HEADER         */
/* ----------------------- */

header {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em 0;
  z-index: 666;
}

.line {
  position: absolute;
  left: 9rem;
  height: 1px;
  border-bottom: 1px solid var(--clr-light);
  width: calc(100% - (18rem + 48vw));
  opacity: 0.2;
  z-index: 1;
}

@media (max-width: 70em) {
  header {
    padding-top: 0;
  }

  .line {
    display: none;
  }
}

#logo {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: calc(1em + 2vw);
  background: url(../assets/shared/logo.svg) no-repeat center / cover;
}

@media (max-width: 40em) {
  #logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: calc(1em + 2vw);
  }
}

/* ----------------------- */
/*        NAVIGATION       */
/* ----------------------- */

.nav-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max((16em + 36vw), 60%);
  max-width: 80%;
  padding: 2em 0 0 0;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.nav-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-gray);
  z-index: -1;
  user-select: none;
}

@-moz-document url-prefix() {
  @media (max-width: 40em) {
    .nav-container::before {
      background: linear-gradient(to bottom, #20232cfb 50%, #2d4661ec);
    }
  }
}

.nav-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1em + 3vw);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-container ul li span {
  font-weight: bold;
  margin-right: 0.75em;
}

.icon-container {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-top: calc(1.25em + 2vw);
  margin-right: calc(1em + 2vw);
  z-index: 10;
}

.icon-container span {
  position: fixed;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-hamberger {
  background-image: url(../assets/shared/icon-hamburger.svg);
}

.icon-close {
  display: none;
  background: url(../assets/shared/icon-close.svg);
}

@media (max-width: 70em) {
  .nav-container ul li span {
    display: none;
  }
}

@media (min-width: 40em) {
  .icon-container {
    display: none;
  }

  .nav-container li {
    position: relative;
    padding-bottom: 2em;
  }

  .nav-container li a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
    padding-bottom: 2em;
    transition: width ease-in-out 0.15s;
  }

  .nav-container .select a::after,
  .nav-container .select a:hover::after {
    width: 100%;
    border-bottom: 2px solid var(--clr-light);
  }

  .nav-container li a:hover::after {
    border-bottom: 2px solid var(--clr-hover);
    width: 100%;
  }
}

@keyframes nav-open {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes nav-close {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes nav-open {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes nav-close {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 40em) {
  .nav-container {
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    padding: calc(4em + 10vh) 2em;
    height: 100vh;
    transform: translateX(100%);
  }

  .nav-container ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
  }

  .nav-container ul li span {
    display: inline-block;
  }

  #nav-checkbox:checked + .icon-container .icon-hamberger {
    display: none;
  }

  #nav-checkbox:checked + .icon-container .icon-close {
    display: block;
  }
}

/* ----------------------- */
/*         CONTENTS        */
/* ----------------------- */

.container {
  margin-inline: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 70em) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: calc(2em + 4vw);
  }

  .content {
    text-align: center;
  }
}
